/* Body Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; 
  background: url("https://png.pngtree.com/thumb_back/fh260/background/20210907/pngtree-coupon-background-lottery-ticket-background-image_813760.jpg") 
    no-repeat center;
  background-size: cover;
  background-position: center;
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  overflow: hidden;
}

/* Lottery App Styles */
.lottery-app {
  width: 90%;
  max-width: 500px;
  padding: 2rem;
  color: #fff;
  background-color: #333;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 1.25rem;
  box-shadow: 4px 6px 8px rgba(0, 255, 255, 0.7);
  transition: transform 0.3s ease;
}

.lottery-app:hover {
  transform: scale(1.015);
}

/* App Heading Styles */
.app-heading {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 0;
}

/* Ticket Display Styles */
.ticket {
  font-size: 1.5rem;
}

/* Ticket Number Styles */
.ticket-num {
  padding: 0.5rem;
  border: 2px solid #fff;
  border-radius: 0.3rem;
}

/* Winning Title Styles */
.win-title {
  color: #f41212;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Ticket Button Styles */
.ticket-btn {
  color: #fff;
  background-color: #007bff;
  margin: 0.5rem;
  padding: 0.7rem 1.2rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.1s linear;
}

/* Ticket Btn Hover Effect */
.ticket-btn:hover {
  background-color: #0056b3;
  transform: scale(1.01);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .app-heading {
    font-size: 2rem;
  }

  .ticket {
    font-size: 1.3rem;
  }

  .ticket-num {
    font-size: 1.2rem;
  }

  .win-title {
    font-size: 1.5rem;
  }

  .ticket-btn {
    padding: 0.6rem;
  }
}

